/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}


/*---------------------------------------------------------*/
/* CSS rajouté pour coller le JS */


.galleryJS {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: 20px;
	row-gap: 20px;
}

img {
	object-fit: cover;
	height: 240px;
	width: 100%;
}

.filterButtonName {
	display: flex;
	flex-direction: row;
	width: 60%;
	justify-content: space-between;
	margin-bottom: 40px;
	margin-left: auto;
	margin-right: auto;
}

.filterbuttonDetails {
	border: 1px solid #1D6154;
	border-radius: 60px;
	height: 37px;
	box-sizing: border-box;
	padding-left: 2%;
	padding-right: 2%;
	font-family: 'Syne';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	color: #1D6154;
	background-color: white;
}

.filterbuttonDetails:hover {
	background-color: #1D6154;
	color: white;
}

a {
	color: black;
	text-decoration: none;
}

.instagram {
	height: 20px;
	width: auto;
}

.connexion {
	display: flex;
	flex-direction: column;
	row-gap: 37px;
	width: 30%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 200px;
	align-items: center;
}

.formulaire {
	display: flex;
	flex-direction: column;
	row-gap: 7px;
	width: 100%;
}

.formulaireConnexion {
	display: flex;
	flex-direction: column;
	row-gap: 30px;
	align-items: center;
	width: 100%;
}

.champUtilisateur {
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	height: 50px;
	border: 0;
	width: 100%;
	margin-bottom: 23px;
}

.mdp {
	text-decoration: underline;
}

.seconnecter {
	background-color: #1D6154;
	color: white;
	height: 36px;
	width: 50%;
	border-radius: 60px;
	margin-top: 17px;
	margin-left: auto;
	margin-right: auto;

}


/* CSS pour accéder à la modale */

.modalAccess {
	background-color: black;
	margin: 0;
	padding: 0;
	height: 59px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.modalAccessWrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 50%;
	height: 38px;
	margin-left: auto;
	margin-right: auto;
}

.modalAccessWrapperDetails {
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
}

.editionMode {
	display: flex;
	flex-direction: row;
	column-gap: 12px;
	color: #FFFFFF;
	background-color: black;
	border: none;
}

.buttonChanges {
	height: 100%;
	border-radius: 60px;
	box-sizing: border-box;
	padding-left: 5%;
	padding-right: 5%;
}


/* CSS de la modale */

.modal {
	padding: 0;
	margin: 0;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgb(0, 0, 0, 0.8);
	display: flex;
	justify-content: center;
	align-items: center;
}

.modalWrapper {
	overflow: auto;
	height: 731px;
	width: 630px;
	background-color: #FFFFFF;
	box-sizing: border-box;
	padding-top: 32px;
	padding-bottom: 48px;
	display: flex;
	flex-direction: column;
	row-gap: 16px;
	padding-right: 36px;
	padding-left: 36px;
}

.closeIcone {
	size: 12px;
	border: none;
	background-color: white;
	width: 3%;
	margin-left: 97%;
}

.baliseModal {
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	padding-left: 57px;
	padding-right: 57px;
}

.titleModal {
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 26px;
	line-height: 30px;
	text-align: center;
	padding-bottom: 30px;
}

.galleryPhoto {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	column-gap: 7.5px;
	row-gap: 10.5px;
	box-sizing: border-box;
	padding-bottom: 52px;
}

.photosProject {
	display: flex;
	flex-direction: column;
	row-gap: 1px;
	position: relative;
}

.photos {
	height: 105px;
	width: 100%;
	object-fit: cover;
}

.photosTitle {
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 14px;
}

.iconeBaliseSize {
	background-color: black;
	position: absolute;
	top: 5px;
	right: 25px;
	height: 17px;
	width: 17px;
	border-radius: 2px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.iconeBaliseDelete {
	background-color: black;
	position: absolute;
	top: 5px;
	right: 5px;
	height: 17px;
	width: 17px;
	border-radius: 2px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
}

.iconeDelete {
	color: #FFFFFF;
	background: none;
	border: none;
	font-size: 10px;
}


.changesButton {
	padding-top: 38px;
	border-top: 1px solid #B3B3B3;
	display: flex;
	flex-direction: column;
	row-gap: 23px;
	align-items: center;
	box-sizing: border-box;
}

.uploadButton {
	box-sizing: border-box;
	background-color: #1D6154;
	border-radius: 60px;
	height: 36px;
	width: 50%;
	color: #FFFFFF;
	font-family: 'Syne';
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 17px;
	text-align: center;
}

.deleteButton {
	background: none;
	border: none;
	font-family: 'Syne';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	text-align: center;
	color: #D65353;
}


/* CSS de la modale upload photo */

.modalUpload {
	padding: 0;
	margin: 0;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.modalUploadWrapper {
	overflow: auto;
	height: 731px;
	width: 630px;
	background-color: #FFFFFF;
	box-sizing: border-box;
	padding-top: 32px;
	padding-bottom: 48px;
	display: flex;
	flex-direction: column;
	row-gap: 16px;
	padding-right: 36px;
	padding-left: 36px;
}

.baliseUpload {
	display: flex;
	flex-direction: column;
	row-gap: 7px;
	background-color: #E8F1F7;
	box-sizing: border-box;
	padding-top: 28px;
	padding-bottom: 19px;
}

.iconePhoto {
	margin-left: auto;
	margin-right: auto;
	font-size: 50px;
	color: #b9c5cc;
	padding-bottom: 20px;
}

.labelPhoto {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	box-sizing: border-box;
	background-color: #CBD6DC;
	border-radius: 50px;
	border: none;
	height: 36px;
	width: 50%;
	color: #306685;
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
}

.modalUploadButton {
	opacity: 0;
}

.photoUploaded {
	height: auto;
	width: 100%;
	box-sizing: border-box;
	object-fit: cover;
	padding-left: 20px;
	padding-right: 20px;
}

.modalUploadText {
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 10px;
	line-height: 12px;
	text-align: center;
	color: #444444;
}

.baliseModalUploadForm {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
	box-sizing: border-box;
	padding-top: 23px;
	padding-bottom: 40px;
}

.labelUpload {
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	color: #3D3D3D;
}

.inputUpload {
	background: #FFFFFF;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	height: 51px;
	border: none;
}

.baliseValidation {
	display: flex;
	flex-direction: column;
	border-top: 1px solid #B3B3B3;
	box-sizing: border-box;
	padding-top: 32px;
}

.buttonValidation {
	background: #1D6154;
	border-radius: 60px;
	height: 36px;
	width: 60%;
	color: #FFFFFF;
	border: none;
	margin-left: auto;
	margin-right: auto;
}



